
.app{
  background: linear-gradient(86deg, #2bb7ff,#d600ff );
}
tbody.ct1 {
  background-color: white;
}
thead.gt1 {
  color: white;
}
h1.title {
  color: white;
  font-family: sans-serif;
  font-size: 324%;
  padding-top: 3%;
}
.ui.input {
  position: relative;
  font-weight: 400;
  font-style: normal;
  display: inline-flex;
  width: 60%;
  text-align: center;
  /* margin: auto; */
  color: rgba(0,0,0,.87);
  margin-left: 20%;
  margin-bottom: 2%;
  margin-top: 1%;
}
h4 {
  font-size: 144%;
}

/***********************************/
@media (min-width: 360px) and (max-width: 700px) {
  .app {
    width: 236%;
}
.container {
  width: 70%;
  margin: 0%;
  padding: 1%;
}
h1.title {
  font-size: 238%;
}
.ui.icon.input {
  margin: 0% 0% 4% 0%;
}
h1.title {
  font-size: 197%;
  margin-left: 0%;
}
}